$layout_color: #91a65b;
$animation_color: black;

.main_btn, .back_to_home, .copyright_footer, .newsletter_btn, .flex-control-paging li a.flex-active, .store_nav a.active_store_nav:after, .store_nav a:hover:after, .store_initial, .details_header, .back_to_list, .back_to_list:hover, .back_to_list:focus, .mobile_menu_dd, #mm_page_content h2{
    background: $layout_color;
}

.newsletter_control:focus{
    border-color: $layout_color;
}

.view_more_btn, .colored_link, .colored_link a, #mm_page_content h1, .mobile_menu li a, .promo_exist{
    color: $layout_color;
}

.animated_btn:before{
    background: $animation_color;
}

.stores_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516321443000/AHF_Directory_Final.jpg);
}

.events_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516321159000/AHF_Events_Final.jpg);
}

.dine_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516321742000/AHF_Dine_Final.jpg);
}

.jobs_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516322020000/AHF_Contact_Final.jpg);
}

.location_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516320894000/AHF_Location_Final.jpg);
}

.district-services{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/57f2b1016e6f645d03550000/image/jpeg/undefined/dtl_1920x150_banner_services.jpg);
}

.anaheim-contact-us{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516322020000/AHF_Contact_Final.jpg);
}
.anaheim-privacy-policy{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5b5e738f6e6f640ecb010000/image/jpeg/1516322020000/AHF_Contact_Final.jpg);
}
.district-videos{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/57f2b1016e6f645d03550000/image/jpeg/undefined/dtl_1920x150_banner_events.jpg);
}
.main_logo{
    margin-top: 0;
    max-height: 90px;
}

.mark {
    background-color: transparent;
}

/**** DINE STYLING *****/
#dining_container {
    .store_nav a:after {
        min-width: 40px;
    }
    .store_container {
        position:relative;
        margin-bottom: 30px;
        .store_logo_container {
            overflow: hidden;
            border: 1px solid #D8D8D8;
            height: 200px;
            position: relative;
            .store_list_logo {
                max-width: 100%;
                max-height:100%;
                transition: all ease 0.3s;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                &:hover {
                    transform: translate(-50%,-50%) scale(1.1);
                }
            }
        }
        .store_data_container {
            background: #F2F2F2;
            border: 1px solid #D8D8D8;
            border-top: none;
            padding-top: 15px;
            height: 120px;
            position:relative;
            .store_list_name {
                font-size: 20px;
                line-height: normal;
            }
            .today_store_hours {
                margin: 0 20px;
                font-size: 14px;
                position: absolute;
                bottom: 10px;
            }
            .today_store_hours.red{
                color: red;
            }
        }
        .new_store_tag {
            position: absolute;
            width: 60px;
            right: 0px;
            top: -8px;
            z-index: 3;
        }
    }
    #current_category {
        font-family: Avenir-Medium;
        font-size: 18px;
        color: #4B4B4B;
        position: relative;
        display: inline-block;
        margin: auto;
    }
}
@media (max-width: 768px) {
    #dining_container .cats_row {
         display: block;
    }
}