$layout_color: #f89d54;
$animation_color: #a5afb0;

.main_btn, .back_to_home, .copyright_footer, .newsletter_btn, .flex-control-paging li a.flex-active, .store_nav a.active_store_nav:after, .store_nav a:hover:after, .store_initial, .details_header, .back_to_list, .back_to_list:hover, .back_to_list:focus, .mobile_menu_dd, #mm_page_content h2{
    background: $layout_color;
}

.newsletter_control:focus{
    border-color: $layout_color;
}

.view_more_btn, .colored_link, .colored_link a, #mm_page_content h1, .mobile_menu li a, .promo_exist{
    color: $layout_color;
}

.animated_btn:before{
    background: $animation_color;
}

.stores_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516321443000/AHF_Directory_Final.jpg);
}

.events_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516321159000/AHF_Events_Final.jpg);
}

.dine_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516321742000/AHF_Dine_Final.jpg);
}

.jobs_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516322020000/AHF_Contact_Final.jpgg);
}

.location_banner{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516320894000/AHF_Location_Final.jpg);
}

.district-services{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/57f2b1016e6f645d03550000/image/jpeg/undefined/dtl_1920x150_banner_services.jpg);
}

.anaheim-contact-us{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516322020000/AHF_Contact_Final.jpg);
}
.anaheim-privacy-policy{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a68c3166e6f646860020000/image/jpeg/1516322020000/AHF_Contact_Final.jpg);
}
.district-videos{
    background-image: url(//codecloud.cdn.speedyrails.net/sites/57f2b1016e6f645d03550000/image/jpeg/undefined/dtl_1920x150_banner_events.jpg);
}
.main_logo{
    margin-top: 0;
    max-height: 90px;
}

.mark {
    background-color: transparent;
}


